<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= mailbox %></li>
</ul>

<h3><%= mailbox %></h3>

<% if(message == "deleted"){%>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Message deleted</strong>
  </div>
<%}%>

<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Mailbox access information
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Mailbox for <strong><%= mailbox %></strong> can be accessed with different means</p>

        <h4>1. JSON</h4>
        <p><a href="/mailbox/<%- encodeURIComponent(mailbox)%>/json" target="_blank">JSON link</a></p>

        <h4>2. RSS</h4>
        <p><a href="/mailbox/<%- encodeURIComponent(mailbox)%>/rss" target="_blank">RSS link</a></p>

        <h4>3. POP3</h4>
        <p>To use POP3 access with your desktop e-mail client, use the following settings</p>
        <ul>
          <li>POP3 Server: <strong><%= hostname %></strong></li>
          <li>Server port: <strong><%= pop3port %></strong></li>
          <li>Username: <strong><%= mailbox %></strong></li>
          <li>Password: <strong><%= mailbox %></strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>Date</th>
      <th>&nbsp;</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>

      <% if(!docs || !docs.length){%>
          <tr>
              <td colspan="4">
                  No messages in this mailbox<br />
                If anyone sends mail to <a href="mailto:<%= mailbox %>"><%= mailbox %></a> it will appear here
            </td>
          </tr>
      <%}%>
      <% if(docs && docs.length){%>
          <% docs.forEach(function(row){%>

              <tr>
                  <td><a href="mailto:<%= row.from && row.from[0] && row.from[0].address || row.envelope.from %>"><%= row.from && row.from[0] && ((row.from[0].name?row.from[0].name+" ":"")+"<"+row.from[0].address+">") || row.envelope.from %></a></td>
                  <td><%= row.date.relative %></td>
                  <td>
                    <% if(!row.read){%><i class="icon-envelope"></i><%}%>
                    <% if(row.read){%><i class="icon-envelope icon-white"></i><%}%>
                  </td>
                  <td><a href="/message/<%= row.id %>">
                    <% if(!row.read){%><strong><%}%>
                    <%= row.subject || "[untitled message]" %>
                    <% if(!row.read){%></strong><%}%>
                    </a></td>
              </tr>

          <%})%>
      <%}%>

  </tbody>
</table>